.RND {
    color: red;
}

.MSK {
    color: blue;
}

.CRM {
    color: green;
}

.VLG {
    color: purple;
}

.SPB {
    color: brown;
}

.KRN {
    color: chocolate;
}

.PTG {
    color: tomato;
}

.disabled {
    text-decoration: line-through;
}